.container {
    margin-top: 15px;
    text-align: center;
}

input::placeholder {
    color: #c2c1c1 !important; 
    font-style: italic;
    opacity: 0.7;
}

textarea::placeholder {
    color: #c2c1c1 !important; 
    font-style: italic;
    opacity: 0.7;
}

.form-label{
    float: left;
}

form {
    border: 2px solid #007bff; 
    border-radius: 10px; 
    padding: 3px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.login form {
    width: 70%;
    border: 2px solid #198754;
    border-radius: 10px;
    padding: 3px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.button-host-form{
    width: 150px;
    margin-bottom: 10px;
}

.button-login-form{
    width: auto !important;;
    margin-bottom: 25px;
    margin: 0 auto;
}

.login-time-style{
    text-align: center;
    width: 50%;
    margin: 0 auto; 
    background-color: #bcf2e0;
}

.create-streams form {
    margin-top: 15px;
    border: 2px solid #ffc10759;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.streams-app {
    padding-top: 10px;
    margin: 0 auto;
    width: 20%;
}